.page {
  position: relative;
}
.page.notloaded {
  opacity: 0;
}
.main {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  aspect-ratio: 2000 / 1125;
  transform: translate(-50%, -50%);
  max-width: 2000px;
  overflow: hidden;
}

@media (min-aspect-ratio: 2000/1125) {
  .main {
    width: auto;
    height: 100%;
  }
}

.main img {
  width: 100%;
  height: auto;
  display: block;
}

.frames,
.text,
.gradientOverlay,
.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.frames img,
.text img,
.text > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text {
  z-index: 9999;
}
.text > div {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s linear;
}
.text > div.active {
  opacity: 1;
  /* pointer-events: all; */
}

.text > div.active > a {
  pointer-events: all;
}
.text a {
  width: 35%;
  height: 8%;
  top: 0;
  left: 26%;
  position: absolute;
  display: block;
  z-index: 10;
  cursor: pointer;
}

.hexGrey {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 99;
  top: 0;
  left: 0;
  pointer-events: none;
}

.hexGrey > div {
  background: #9d9fa2;
  position: absolute;
  top: 0;
  left: 1%;
  width: 25%;
  height: 2%;
  display: block;
}
.hexGrey > div:nth-of-type(2) {
  left: auto;
  right: 0;
  width: 39%;
  height: 5%;
  top: 1%;
}

/* inner */
.inner {
  overflow-x: scroll;
  -webkit-mask-image: url("/mask.svg");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url("/mask.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  pointer-events: all;
}

.gradientOverlay {
  overflow-x: scroll;
}

.gradientOverlay > div {
  aspect-ratio: 2000 / 1125;
  width: 100%;
  display: block;
  background: linear-gradient(
    to bottom,
    var(--grad-color, #000000) 50%,
    var(--next-grad-color, #ffffff) 100%
  );
}
